@import "../../../node_modules/react-datepicker/dist/react-datepicker";
@import "settings";
@import "media-queries";

$gd_gideon_blue: #3F6DE1;

.react-datepicker__header--time {
    padding-bottom: 8px;
    height: 63px;

}

$width: 280px;

.gd-date-picker {
    background-color: white;

    &-inner-container {
      display: flex;
      flex-direction: column;
      background-color: white;
      height: 280px;
    }

    .gd-date-picker-select-day {
      margin: 5px 10% 0px 10%;
      height: fit-content;
      padding: 4px 0px 4px 0px;
      border-radius: 4px;
      background-color: white;
      border-color: $gd_gideon_blue;
      color: $gd_gideon_blue;
      outline: 0;
    }

    .gd-date-picker-inner-header {
      display: flex;
      justify-content: space-between;
      margin-top: 10px;
      margin-bottom: 10px;
      height: 20px;
      span {
        color: $gd_gideon_blue;
        height: 1.2em;
        line-height: 20px;
      }
    }

    .gd-date-picker-inner-header-date-range {
      text-align: center;
      width: 100%;
    }

    .gd-date-picker-select-hour {
      margin: 5px 5% 0px 5%;
      min-height: 2em;
      max-height: 2em;
      border-radius: 4px;
      background-color: white;
      border-color: $gd_gideon_blue;
      color: $gd_gideon_blue;
      outline: 0;
      width: 40%;
    }

    .gd-date-picker-hours-container {
      overflow-y: auto;
      display:flex;
      flex-direction: row;
      flex-wrap: wrap;
      height: 100%;
      max-height: 280px;
      padding-bottom: 20px;
      align-content: flex-start;
    }

    .gd-date-picker-select-day:focus,
    .gd-date-picker-select-day:hover:enabled,
    .gd-date-picker-select-hour:focus,
    .gd-date-picker-select-hour:hover:enabled {
      background-color: $gd_gideon_blue;
      color: white;
    }

    &-select-day:disabled {
      background-color: #cccccc;
      cursor: default;
    }

    .gd-date-picker-select-header {
      display: flex;
      justify-content: space-between;
      margin-bottom: 10px;

      span {
        color: $gd_gideon_blue;
        margin-left: 10px;
        margin-right: 10px;
      }
    }

    // SVG animation.
    @keyframes svg-animation {
      0% {
        transform: rotateZ(0deg);
      }
      100% {
        transform: rotateZ(360deg)
      }
    }

    // Circle animation.
    @keyframes circle-animation {
      0%,
      25% {
        stroke-dashoffset: 280;
        transform: rotate(0);
      }

      50%,
      75% {
        stroke-dashoffset: 75;
        transform: rotate(45deg);
      }

      100% {
        stroke-dashoffset: 280;
        transform: rotate(360deg);
      }
    }

    .gd-date-picker-days-container {
      height: 180px;
      overflow-y: auto;
      display: flex;
      flex-direction: column;
      background-color: white;

      svg {
        animation: 2s linear infinite svg-animation;
        max-width: 100px;
        position: absolute;
        left: calc(50% - 50px);
        top: calc(50% - 50px);
      }

      circle {
        animation: 1.4s ease-in-out infinite both circle-animation;
        display: block;
        fill: transparent;
        stroke: $gd_gideon_blue;
        stroke-linecap: round;
        stroke-dasharray: 283;
        stroke-dashoffset: 280;
        stroke-width: 10px;
        transform-origin: 50% 50%;
      }
    }

    .gd-date-picker-nagivation {
      margin-top: 10px;
      margin-bottom: 10px;
    }

    .gd-date-picker-next, .gd-date-picker-prev {
      background-color: white;
      color: $gd_gideon_blue;
      border-style: none;
      margin-right: auto;
      margin-left: auto;
      outline: 0;
      border-radius: 4px;
    }

    .gd-date-picker-next:hover:enabled, .gd-date-picker-prev:hover:enabled {
      color: white;
      background-color: $gd_gideon_blue;
    }

    .gd-date-picker-next {
      margin-right: 10%;
    }

    .gd-date-picker-prev {
      margin-left: 10%;
    }

    .gd-date-picker-prev:disabled, .gd-date-picker-next:disabled {
      color: #cccccc;
      cursor: default;
    }

    .gd-date-picker-hours-back {
      outline: 0;
      background-color: white;
      border-style: none;
      height: 24px;
      width: 24px;
      margin-top: -2px;
      margin-left: 10px;

      svg {
        fill: $gd_gideon_blue;
        height: 24px;
        width: 24px;
        border-radius: 4px;
      }

      svg:hover {
        fill: white;
        background-color: $gd_gideon_blue;
        cursor: pointer;
      }
    }

    .gd-date-picker-inner-header-selected-day {
      width: 100%;
      text-align: center;
      padding-right: 30px;
    }

    &-navigation {
      display: flex;
      flex-direction: row;
      margin-top: 10px;
      margin-bottom: 10px;
    }

    &-navigation button {
      border-radius: 8px;
      background-color: white;
    }

    &.withTime.date-node {
      width: 100%;
    }

    &.withTime {

        // max-width: 421px;

        @include mobile {
            // max-width: $width;
        }

        .gd-selected-date {
            left: -28% !important;
            margin:0 !important;

            @include mobile {
                left:-39% !important;
            }
        }

        .react-datepicker__time-container {
            @include mobile {
                width: 100% !important;
            }
        }

        .react-datepicker__month-container {
            width: 69% !important;

            @include mobile {
                width: 100% !important;
            }
        }
    }

    .gd-submit-date-button {
        width: 100%;
        height: 48px;
        font-size: 14px;
        font-weight: bold;
        margin-top: 15px;
        border-radius: 3px;
    }

    .gd-submit-date-button-disabled {
      background-color: #B5B5B5;
    }

    .gd-submit-date-button:hover {
      background-color: $gd_gideon_blue;
      color: white;
    }

    .gd-submit-date-button-disabled:hover {
      background-color: #B5B5B5;
      cursor: not-allowed;
    }

    .gd-no-workable-appointment {
        background: white;
        border: 0;
        border-bottom: 2px solid $gd_gideon_blue;
        border-top: 2px solid $gd_gideon_blue;
        color: $gd_gideon_blue;
        font-size: 14px;
        font-weight: bold;
        height: 42px;
        margin-top: -.15em;
        width: 100%;
    }

    .gd-date-picker-header, .gd-selected-date-container {
        font-size: 14px;
        text-align: center;
        height: 30px;
        display: inline-block;
        width: 100%;
        position: relative;

        span {
            font-weight: bold;
            position: absolute;
            display: block;
            color: black;
        }

        .gd-header-schedule-meeting {
            color: #ffffff;
            top: 25%;
            left: 6%;
        }

        .gd-selected-date {
            top: 38%;
            left: 0;
            right: 0;
        }

        .gd-selected-time {
            margin: auto;
            top: 36%;
            right: 6%;
            bottom: 0;
        }

        .gd-header-duration {
            margin: auto;
            top: 25%;
            right: 6%;
            bottom: 0;

            @include mobile {
                right:8%;
            }
        }
    }

    .gd-selected-date-container {
        height: 54px;
        background-color: white;
    }

    .react-datepicker {
        // width: 100%;
        border-radius: 0;
        border: 0;

        &__navigation--previous {
            border-right-color: $gd_gideon_blue;
        }

        &__navigation--next {
            border-left-color: $gd_gideon_blue;

            &--with-time {
                // right: 126px !important;
                right: 10px !important;

                @include mobile {
                    right:10px !important;
                }
            }
        }

        .react-datepicker__month-container {
            width: 100% !important;
        }


        &__time-container {
            border-left: 1px solid $gd_gideon_blue;
            // width: 30% !important;
            width: 100% !important;

            @include mobile {
                border-left:0;
                border-top:  1px solid $gd_gideon_blue;
            }
        }

        &__time-list {
            height: 262px !important;
            padding-right: 0px !important;

            &-item--selected {
                background-color: $gd_gideon_blue !important;
            }

            &-item--disabled {
              display: none;
            }
        }

        &__header {
            background: white;
            border-bottom: 0;

            &--time {
                height: 59px;
                display: none;
            }
        }

        &__day-names {
            margin: 7px 0 -8px;
        }

        &__month-container {
            color:$gd_gideon_blue !important;
        }

        &__day-name, &__day, &__time-name, &__current-month {
            color: black;
            font-size: 14px;
        }

        &__day--selected, &__day--in-range {
            background-color: $gd_gideon_blue;
        }

        &__day--selected {
          border-radius: 50%;
          color: white;
        }

        &__day--disabled {
            color:#CCC;
        }

        &__year-dropdown-container--select, &__month-dropdown-container--select {
          padding: 3px;
          margin-top: 10px;

          select {
            border: 1px solid $gd_gideon_blue;
            padding: 5px;
            border-radius: 5px;
            outline: none;
            color: $gd_gideon_blue;
          }
        }
    }


    .react-datepicker__day--range-start,
    .react-datepicker__day--range-end {
        border-radius: 4em;
        color: white;
        background-color: #3F6DE1;
    }

    .react-datepicker__navigation--next--with-time {
        right: 100px;
    }

    .react-datepicker__time-box {
        width: 100% !important;
    }

    .react-datepicker__day--range-start, .react-datepicker__day--range-end {
        position: relative;
        z-index: 2;
    }

    .react-datepicker__day--in-range:not(.react-datepicker__day--range-start):not(.react-datepicker__day--range-end) {
        background-color: transparent;
        position: relative;
        z-index: 1;
    }

    .react-datepicker__day--in-range:not(.react-datepicker__day--range-start):not(.react-datepicker__day--range-end)::after {
        content: ' ';
        background-color: #D8E2F9;
        position: absolute;
        width: 4.9rem;
        height: 1.7rem;
        transform: translateX(-2.7rem);
        z-index: -1;
        @include mobile {
          width: 3rem;
          transform: translateX(-1.7rem);
        }
    }

    [aria-label="day-1"].react-datepicker__day--in-range:not(.react-datepicker__day--range-start):not(.react-datepicker__day--range-end)::after {
        transform: translateX(-1.0rem);
    }

    .react-datepicker__day--in-range:not(.react-datepicker__day--range-start):not(.react-datepicker__day--range-end).react-datepicker__day--sun::after {
        transform: translateX(-1.4rem);
    }

    .react-datepicker__day--in-range:not(.react-datepicker__day--range-start):not(.react-datepicker__day--range-end).react-datepicker__day--sat::after {
        width: 3.1rem;
        @include mobile {
          width: 2.15rem;
        }
    }

    [aria-label="day-1"].react-datepicker__day--in-range:not(.react-datepicker__day--range-start):not(.react-datepicker__day--range-end).react-datepicker__day--sun::after,
    [aria-label="day-2"].react-datepicker__day--in-range:not(.react-datepicker__day--range-start):not(.react-datepicker__day--range-end).react-datepicker__day--sun::after,
    [aria-label="day-3"].react-datepicker__day--in-range:not(.react-datepicker__day--range-start):not(.react-datepicker__day--range-end).react-datepicker__day--sun::after,
    [aria-label="day-4"].react-datepicker__day--in-range:not(.react-datepicker__day--range-start):not(.react-datepicker__day--range-end).react-datepicker__day--sun::after,
    [aria-label="day-5"].react-datepicker__day--in-range:not(.react-datepicker__day--range-start):not(.react-datepicker__day--range-end).react-datepicker__day--sun::after,
    [aria-label="day-6"].react-datepicker__day--in-range:not(.react-datepicker__day--range-start):not(.react-datepicker__day--range-end).react-datepicker__day--sun::after,
    [aria-label="day-7"].react-datepicker__day--in-range:not(.react-datepicker__day--range-start):not(.react-datepicker__day--range-end).react-datepicker__day--sun::after,
    [aria-label="day-8"].react-datepicker__day--in-range:not(.react-datepicker__day--range-start):not(.react-datepicker__day--range-end).react-datepicker__day--sun::after,
    [aria-label="day-9"].react-datepicker__day--in-range:not(.react-datepicker__day--range-start):not(.react-datepicker__day--range-end).react-datepicker__day--sun::after {
        transform: translateX(-1.15rem);
    }

    [aria-label="day-1"].react-datepicker__day--in-range:not(.react-datepicker__day--range-start):not(.react-datepicker__day--range-end).react-datepicker__day--sat::after,
    [aria-label="day-2"].react-datepicker__day--in-range:not(.react-datepicker__day--range-start):not(.react-datepicker__day--range-end).react-datepicker__day--sat::after,
    [aria-label="day-3"].react-datepicker__day--in-range:not(.react-datepicker__day--range-start):not(.react-datepicker__day--range-end).react-datepicker__day--sat::after,
    [aria-label="day-4"].react-datepicker__day--in-range:not(.react-datepicker__day--range-start):not(.react-datepicker__day--range-end).react-datepicker__day--sat::after,
    [aria-label="day-5"].react-datepicker__day--in-range:not(.react-datepicker__day--range-start):not(.react-datepicker__day--range-end).react-datepicker__day--sat::after,
    [aria-label="day-6"].react-datepicker__day--in-range:not(.react-datepicker__day--range-start):not(.react-datepicker__day--range-end).react-datepicker__day--sat::after,
    [aria-label="day-7"].react-datepicker__day--in-range:not(.react-datepicker__day--range-start):not(.react-datepicker__day--range-end).react-datepicker__day--sat::after,
    [aria-label="day-8"].react-datepicker__day--in-range:not(.react-datepicker__day--range-start):not(.react-datepicker__day--range-end).react-datepicker__day--sat::after,
    [aria-label="day-9"].react-datepicker__day--in-range:not(.react-datepicker__day--range-start):not(.react-datepicker__day--range-end).react-datepicker__day--sat::after {
        width: 3.35rem;
        @include mobile {
          width: 2.4rem;
        }
    }
        
    .react-datepicker__day--range-end::after {
        width: 1.2rem;
    }

    .react-datepicker__day-name, .react-datepicker__day--outside-month {
        color: #939393;
    }

    .react-datepicker__day-name {
        margin-bottom: 10px;
    }

    .react-datepicker__day-name, .react-datepicker__day, .react-datepicker__time-name{
        margin-left: 8px;
        margin-right: 8px;

      @include mobile {
        margin-left: 0px;
        margin-right: 0px;
      }
    }

    .react-datepicker__day:not(.react-datepicker__day--selected):hover {
      border-radius: 50%;
    }

    .react-datepicker__header {
      // margin: 0.4rem;
      width: 100% !important;
    }
}

.date-text-container {
    width: 100%;
    border: 0.5px solid #B5B5B5;
    border-radius: 3px;
    padding: 9px;
    color: #262626;
    display: flex;
    align-items: center;
}

.date-text-container:hover {
    cursor: pointer;
    opacity: 0.8;
}

.date-icon {
  margin-right: 11px;
  display: flex;
}

.date-text {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
}

.date-picker-node-content {
    background-color: white;
}

.date-picker-node-content-body {
    // position: relative;
}

.date-picker-popup-outer-container {
    position: absolute;
    top: -170px;
    left: 5px;
    z-index: 1;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.12);
    border-radius: 3px;
}

.date-picker-popup-container {
    position: fixed;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.12);
    border-radius: 3px;
}

.date-picker-node-content {
    padding: 18px;
}
