$gd_gideon_blue: #3F6DE1;

.background{
 
/* Gideon / White */

background: #FEFEFE;
/* Gideon / Box shadow */

box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.12);
border-radius: 3px 3px 0px 3px;
}

.file-upload-title{
  position: center;
  width: 98px;
  height: 22px;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  display: flex;
  text-align: left;
  /* Gideon/Primary text */
  
  color: #262626;
}

.wc-message-from-me{
    &.wc-message-file{
        .wc-message-content {
          width: 447px;
          height: 350px;
         
           /* Gideon / White */
        
           background: #FEFEFE;
          /* Gideon / Box shadow */

          box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.12);
          border-radius: 3px 3px 0px 3px;
        }
    }
} 

.add-rectangle {
  width: 447px;
  height: 5px;
  

 /* Gideon / Primary color */

 background: #3F6DE1;
 border-radius: 3px 0px 0px 0px;
}

.drop-text {    
  position: center;
  box-sizing: border-box;
  width: 387px;
  height: 181px;
  
  
  /* Gideon/Form bg */
  
  background: #F7F7F7;
  /* Gideon/Form border */
  
  border: 1.5px dashed #EBEBEB;
  border-radius: 5px;
}

.bold-line{
  width: 385.72px;
  height: 48px;
  position: center;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  display: flex;
  align-items: center;
  text-align: center;
  
  color: #262626;
  
}

.supported-files{
  width: 385.72px;
  height: 28px;
  font-family: 'Lato';
  font-style: normal; 
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #979797;

}

.upload-skip {
  position: center;
  width: 387px;
  height: 52px;
 

  border: 1.5px solid #3F6DE1;
  border-radius: 3px;

  font-family: 'Lato';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  display: flex;
  align-items: center;
  text-align: center;
  
  /* Gideon / Primary color */
  
  color: #3F6DE1;
    cursor: pointer;
    
}

.uploaded-files {
  width: 211px;
  height: 17px;
  

  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
/* identical to box height */

display: flex;
align-items: center;

/* Gideon/Primary text */

color: #262626;

}

.upload-submit {
  width: 387px;
  height: 52px;
  left: 1747px;
  top: 798px;

/* Gideon / Primary color */

  background: #3F6DE1;
  border-radius: 3px;

  font-family: 'Lato';
  font-style: normal;
 font-weight: 600;
 font-size: 18px;
 line-height: 22px;
 display: flex;
 align-items: center;
 text-align: center;

/* Gideon / White */

color: #FEFEFE;
}

.upload-header {
  width: 105px;
  height: 19px;


  font-family: 'Lato';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  display: flex;
  align-items: center;

  /* Gideon/Primary text */

  color: #262626;
}

.send-icon {

  width: 17px;
  height: 17.33px;
  left: 1988px;
  top: 815.33px;

  /* Gideon / White */

  background: #FEFEFE;
  opacity: 0.88;
}

.upload-icon {
  width: 30px;
  left: 1926px;
  top: 34.59%;
  bottom: 63.47%;

  /* Gideon / Primary color */

   background: #3F6DE1;

}

.fileAttach{
    width: 387px;
    height: 181px;
     
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    margin: 0 0 20px 0;
}

a.remove_link{
  width: 13px;
  left: 2121px;
  top: 47.6%;
  bottom: 51.55%;
/* Gideon / Primary color */
  border: 3px solid #3F6DE1;
  color: $gd_gideon_blue;
  text-decoration: underline;
  font-size: 14px; 
}

.add-padding{
    padding: 15px;
}

div.no-border{
    border: none !important;
}

  .wc-app {
/** Spinner CSS**/
/* Absolute CSS Spinner */
/*
.loading {
    position: fixed;
    z-index: 999;
    height: 2em;
    width: 2em;
    overflow: show;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
  */
  /* Transparent Overlay */
  .loading {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.3);
    border-radius: 14px;
    border-top-right-radius: 0px;
  }
  /*
  .loading:before {
    content: '';
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.3);
  }
  */
  /* :not(:required) hides these rules from IE9 and below */
  .loading:not(:required) {
    /* hide "loading..." text */
    font: 0/0 a;
    color: transparent;
    text-shadow: none;
    /* background-color: transparent; */
    border: 0;
  }
  
  .loading:not(:required):after {
    content: '';
    display: block;
    font-size: 10px;
    width: 1em;
    height: 1em;
    margin-top: -0.5em;
    -webkit-animation: spinner 1500ms infinite linear;
    -moz-animation: spinner 1500ms infinite linear;
    -ms-animation: spinner 1500ms infinite linear;
    -o-animation: spinner 1500ms infinite linear;
    animation: spinner 1500ms infinite linear;
    border-radius: 0.5em;
    -webkit-box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.5) -1.5em 0 0 0, rgba(0, 0, 0, 0.5) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
    box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) -1.5em 0 0 0, rgba(0, 0, 0, 0.75) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
    position: absolute;
    top: 50%;
    left: 50%;
  }
}
  
  /* Animation */
  
  @-webkit-keyframes spinner {
    0% {
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @-moz-keyframes spinner {
    0% {
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @-o-keyframes spinner {
    0% {
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @keyframes spinner {
    0% {
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }